.section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-bg);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: center;
}

.section_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.section_cards .card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}